/* Custom styles for the sidebar and content area */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 56px; /* Adjust the top position to accommodate the navbar height */
  left: 0;
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
  z-index: 1;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

/* Custom styles for the buttons */
.nav-link {
  cursor: pointer;
}

/* Custom styles for the layer control and search container */
#layer-control,
#search-container {
  display: none;
  margin-top: 20px;
}

/* Additional styling for a modern and visually appealing look */
.navbar {
  z-index: 2;
}

.navbar-brand img {
  margin-right: 5px;
}

.navbar-nav .nav-link {
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
